{% extends 'list.html' %}
{% load static %}
{% block scripts %}
<!-- jQuery UI -->
<link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.min.js"></script>
<!-- TouchSpin -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.7.3/jquery.bootstrap-touchspin.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-touchspin/4.7.3/jquery.bootstrap-touchspin.min.js"></script>
<!-- Scripts -->
<script src="{% static 'js/orden_compra/script.js' %}"></script>
{% endblock %}

{% block content %}
<form action="." method="post" id="id_formulario_compra">
    {% csrf_token %}
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">
                {% if guardar_datos == 'guardar' %}
                <i class="fas fa-plus"></i>
                {% else %}
                <i class="fas fa-search"></i>
                {% endif %}
                {{ title }}
            </h3>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa-solid fa-boxes-packing"></i> Detalle de productos</h3>
                        </div>

                        <div class="card-body">
                            <div class="form-group">
                                <label for="">Buscar producto:</label>
                                <div class="input-group">
                                    <input id="buscar_producto" type="text" class="form-control"
                                        placeholder="Ingrese un producto..." autocomplete="off">
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-danger btn-flat">
                                            <font style="vertical-align: inherit;">
                                                <font style="vertical-align: inherit;"><i class="fas fa-times"></i>
                                                </font>
                                            </font>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <hr>
                            <table id="tabla_productos" class="table">
                                <thead>
                                    <tr>
                                        <th>Producto</th>
                                        <th>Precio Unitario</th>
                                        <th>Cantidad</th>
                                        <th>Subtotal</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                            <hr>
                            <button type="button" class="btn btn-primary btn-deleteProducts btn-flat">
                                <i class="fas fa-trash-alt"></i> Eliminar productos
                            </button>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fa-solid fa-cart-plus"></i> Detalle de factura</h3>
                        </div>

                        <div class="card-body">
                            <input type="hidden" name="accion" value="{{guardar_datos}}">
                            <div class="form-group">
                                <label for="">Proveedor:</label>
                                <div class="input-group mb-3">
                                    {{ form.proveedor }}
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary btn-addProveedor"><i class="fa-solid fa-user-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Estado:</label>
                                {{ form.estado }}
                            </div>
                            <div class="form-group">
                                <label for="">Subtotal:</label>
                                {{ form.subtotal }}
                            </div>
                            <div class="form-group">
                                <label for="">IVA:</label>
                                {{ form.iva }}
                            </div>
                            <div class="form-group">
                                <label for="">IVA Calculado:</label>
                                <input type="text" name="iva_calculado" id="id_iva_calulado" class="form-control"
                                    readonly value="0.0">
                            </div>
                            <div class="form-group">
                                <label for="">Total:</label>
                                {{ form.total }}
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit<" class="btn btn-flat btn-primary btn-save">
                                <i class="fas fa-save"></i> Facturar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<form action="." method="post" id="id_formulario_proveedor">
    {% csrf_token %}
    <input type="hidden" name="guardar_datos" value="{{ guardar_datos }}">
    <input type="hidden" name="msj" value="{{ msj }}">
    <!-- Modal -->
    <div class="modal fade" id="modalAddProveedor" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        <i class="fa-solid fa-circle-info"></i> Agregar Proveedor
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="">Nombre:</label>
                        {{formProveedor.nombre}}
                    </div>
                    <div class="form-group">
                        <label for="">Dirección:</label>
                        {{formProveedor.direccion}}
                    </div>
                    <div class="form-group">
                        <label for="">Teléfono:</label>
                        {{formProveedor.telefono}}
                    </div>
                    <div class="form-group">
                        <label for="">Correo Electrónico:</label>
                        {{formProveedor.correo_electronico}}
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-flat btn-primary">
                        <i class="fas fa-save"></i> Guardar registro
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    var url_redireccion = '{{ url_reedireccion }}'
    var url_language = '{% static "lib/dataTables/language_spanish.txt" %}'
</script>

{% endblock %}