{% extends 'home.html' %}
{% block body %}

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <!-- Header -->
        {% include 'header.html' %}
        <!-- Sidebar -->
        {% include 'sidebar.html' %}
        <!-- Content -->
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"> 
                                Bienvenido, 
                                <small>
                                    {% if request.user.get_full_name %}
                                        {{ request.user.get_full_name }}
                                    {% else %}
                                        Usuario
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                        <small style="font-size:small;">
                                            (SU)
                                        </small>
                                    {% endif %}
                                </small>
                            </h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'productos:dashboard' %}">Administración</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{{ lista_registros }}">{{ entidad }}</a>
                                </li>
                                <li class="breadcrumb-item"></li>
                                <a href="{{ history }}">Historial</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-fluid">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Footer -->
        {% include 'footer.html' %}
    </div>
    <!-- Block javascript -->
    {% block messages %}
    {% if messages %}
    <ul class="messages" style="display: none;">
        {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endblock %}
</body>
{% endblock %}