{% extends 'body.html' %}
{% load static %}

{% block listado %}
<!-- dataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.min.css" />
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/2.2.2/js/dataTables.bootstrap5.min.js"></script>
<!-- dataTables Responsive-->
<link rel="stylesheet" href="//cdn.datatables.net/responsive/3.0.3/css/responsive.bootstrap5.min.css">
<script src="//cdn.datatables.net/responsive/3.0.3/js/dataTables.responsive.min.js"></script>
<script src="//cdn.datatables.net/responsive/3.0.3/js/responsive.bootstrap5.min.js"></script>
{% block scripts %}

{% endblock %}
{% endblock %}

{% block content %}
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fa-solid fa-list"></i>
            {{ title }}
        </h3>
    </div>

    <div class="card-body">
        <table id="tabla_productos" class="table">
            <thead>
                {% block columnas %}

                {% endblock %}
            </thead>
            <tbody>
                {% block filas %}

                {% endblock %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        {% block botones %}
        <a href="{{ crear_registro }}" class="btn btn-primary btn-flat">
            <i class="fas fa-plus"></i> Nuevo registro
        </a>
        <a href="{{ lista_registros }}" class="btn btn-primary btn-flat">
            <i class="fa-solid fa-rotate"></i> Actualizar
        </a>
        {% block filtros %}

        {% endblock %}
        {% endblock %}
    </div>
</div>

{% block show %}

{% endblock %}

<script>
    var url = '{% static "lib/dataTables/language_spanish.txt" %}'
    var tabla_selector = '#tabla_productos'
    tabla_de_registros(tabla_selector, url);
</script>
{% endblock %}