{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="{% url 'productos:dashboard' %}" class="brand-link">
        <img src="{% static 'img/logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">{{ config.nombre_empresa }}</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{% static 'img/user.png' %}" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="{% url 'usuarios:perfil' %}" class="d-block">
                    {% if request.user %}
                        {% if request.user.is_authenticated %}
                            {% if request.user.first_name %}
                                {{ request.user.first_name }}
                            {% else %}
                                {{ request.user.username }}
                            {% endif %}
                        {% elif request.user.is_anonymous %}
                            Usuario
                        {% endif %}
                    {% endif %}
                </a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Mantenimientos</li>
                <li class="nav-item">
                    <a href="{% url 'productos:index' %}" class="nav-link">
                        <i class="nav-icon fas fa-truck-loading"></i>
                        <p>
                            Productos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'proveedores:lista-proveedores' %}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Proveedores
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'compras:agregar-compra' %}" class="nav-link">
                        <i class="nav-icon fa-solid fa-cart-flatbed"></i>
                        <p>
                            Comprar
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'ventas:agregar-venta' %}" class="nav-link">
                        <i class="nav-icon fa-solid fa-wallet"></i>
                        <p>
                            Vender
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'clientes:lista-clientes' %}" class="nav-link">
                        <i class="nav-icon fa-solid fa-clipboard-user"></i>
                        <p>
                            Clientes
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'mov_inventory:movimientos' %}" class="nav-link">
                        <i class="nav-icon fa-solid fa-chart-line"></i>
                        <p>
                            Movimientos
                        </p>
                    </a>
                </li>
                {% if request.user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'empleados:lista-empleados' %}" class="nav-link">
                            <i class="nav-icon fa-solid fa-user-tie"></i>
                            <p>Empleados</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'usuarios:lista-usuarios' %}" class="nav-link">
                            <i class="nav-icon fa-solid fa-user"></i>
                            <p>
                                Usuarios
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'config:configuraciones' %}" class="nav-link">
                            <i class="nav-icon fa-solid fa-gear"></i>
                            <p>
                                Configuración
                            </p>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</aside>