{% extends 'list.html' %}
{% load static %}
{% block scripts %}
    <script src="{% static 'js/orden_venta/list.js' %}"></script>
{% endblock %}

{% block columnas %}
<th>No.</th>
<th>Fecha de Venta</th>
<th>Cliente</th>
<th>Estado</th>
<th>Subtotal</th>
<th>IVA</th>
<th>Total</th>
<th>Detalle</th>
{% endblock %}

{% block filas %}

{% endblock %}

{% block show %}
<!-- Modal -->
<div class="modal fade" id="modalDetail" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fa-solid fa-circle-info"></i> Detalle de la
                    compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table id="tabla_detail" class="table">
                    <thead>
                        <th>Producto</th>
                        <th>Precio Unitario</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
